@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&family=Roboto&display=swap');
@import './base/variables';
@import './base/reset';
@import './components/button';
@import './pages/home';
@import './pages/signup';
@import './pages/signin';

// html.transition,
// html.transition *,
// html.transition *:before,
// html.transition *:after {
//   transform: translate3d(0, 0, 0);
//   transition: color, background cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms !important;
//   transition-delay: 0 !important;
// }

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  min-height: 100vh;
  position: relative;

  #preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 200px;
    }

    img[alt='spinner'] {
      width: 80px;
    }
  }
}
