.link-empty {
  border: 2px solid $orange-100;
  border-radius: 15px;
  transition: all 250ms ease-out;
  color: var(--text-heading);

  &:hover {
    background-color: $orange-100;
    color: var(--bg);
  }
}

.single-btn-wrapper {
  position: relative;

  &::after {
    content: '';
    width: 80%;
    height: 55px;
    position: absolute;
    z-index: -1;
    left: 4.57%;
    right: 3.65%;
    top: 16.13%;
    bottom: 0%;
    background: #913c00;
    opacity: 0.25;
    will-change: filter;
    filter: blur(10px);
    // transform: translate3d(0, 0, 0);
    border-radius: 15px;
  }
}
.btn {
  border-radius: 15px;
  color: var(--bg);
  background-color: $orange-100;
  box-shadow: inset -2px -2px 10px #ff7800;
  transition: filter 200ms ease-out;

  &:hover {
    color: var(--bg);
    filter: brightness(0.9);
  }
}
