.card-type-wrapper {
  position: relative;

  &::after {
    content: '';
    width: 85%;
    height: 55px;
    position: absolute;
    z-index: -1;
    left: 9.81%;
    right: 9.81%;
    top: 81.59%;
    bottom: 0%;
    background: #913c00;
    opacity: 0.25;
    filter: blur(20px);
    border-radius: 15px;
  }
}

.card {
  background: $white-100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 315px;
  min-height: 263px;
  padding: 30px;
  border-radius: 15px;
  transition: transform 500ms ease;

  &:hover {
    transform: scale(107%);
    transition: transform 150ms ease-out;
  }

  div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 8px;

    img {
      width: 19px;
      height: 19px;
    }

    span {
      font-family: 'Roboto', sans-serif;
      color: $orange-100;
      font-size: 22px;
      line-height: 27px;
      font-weight: 900;
      color: $orange-100;
    }
  }

  p {
    color: $black-200;
  }
}

@media (max-width: 1440px) {
  .card {
    gap: 8px;
    width: 226px;
    min-height: 188px;
    padding: 20px;

    div {
      img {
        width: 15px;
        height: 15px;
      }

      span {
        font-size: 17px;
        line-height: 21px;
      }
    }

    p {
      line-height: 16px;
      font-size: 14px;
    }
  }
}
