.pricing-container-wrapper {
  margin-top: 100px;
  position: relative;

  .arrow {
    display: none;
    width: 0;
    height: 0;
    font-size: 0;
    color: $bg-secondary;
  }
}

#pricing-container {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

@mixin light-mode {
  .pricing-container-wrapper .arrow {
    color: $bg-secondary;
  }
}

@mixin dark-mode {
  .pricing-container-wrapper .arrow {
    color: $bg-secondary--dark;
  }
}

.dark-mode {
  @include dark-mode;
}

.light-mode {
  @include light-mode;
}

@media (max-width: 1440px) {
  .pricing-container-wrapper {
    margin-top: 80px;
    #pricing-container {
      padding: 50px 5px;
      gap: 10px;
    }
  }
}

@media (max-width: 1024px) {
  .pricing-container-wrapper {
    .arrow {
      display: block;
      font-size: 70px;
      line-height: 50px;
      width: 60px;
      height: 50px;
      color: $gray-100 !important;
      transition: transform 300ms;
      position: absolute;
      top: 50%;
      z-index: 1;

      &:hover {
        transform: scale(1.2);
      }
    }

    .prev {
      rotate: 180deg;
      left: 0;
    }

    .next {
      right: 0;
    }

    #pricing-container {
      white-space: nowrap;
      display: block;
      overflow: hidden;
      scroll-behavior: smooth;
      cursor: grab;
      &:active {
        cursor: grabbing;
      }

      &.dragging {
        scroll-behavior: auto;
      }

      .pro-card-wrapper {
        display: inline-block;
        width: calc(100% / 2);
        margin-left: 10px;
        .pricing-card {
          width: 100%;
          margin-left: 0;
        }
      }

      .pricing-card {
        display: inline-block;
        width: calc(100% / 2);
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .pricing-container-wrapper {
    #pricing-container {
      padding: 36px 8px 10px;

      .pro-card-wrapper {
        width: 75%;
        min-width: none;
        .pricing-card {
          min-width: none;
          width: 100%;
        }
      }

      .pricing-card {
        padding: 15px 15px 10px;
        width: 75%;
      }
    }
  }
}
