html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

// custom styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

main {
  min-height: 100vh;
}

h1 {
  font-size: clamp(53px, 5vw, 68.66px);
}

h1,
h2 {
  font-weight: 900;
  color: var(--text-heading);
}

h3 {
  font-weight: 700;
  color: var(--text-heading);
  font-family: 'Comfortaa', cursive;
}

a {
  text-decoration: none;
  color: var(--text-heading);
  font-family: 'Comfortaa', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 22px;
  transition: all 250ms ease-out;

  &:hover {
    color: $orange-300;
  }

  &::after {
    transition: all 250ms ease-out;
  }
}

ul {
  list-style: none;
}

li {
  color: var(--text);
}

p {
  color: var(--text);
  line-height: 21px;
}

section {
  padding: 0 40px;
}

div {
  color: var(--text);
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }

  p {
    line-height: 16px;
  }

  section {
    padding: 0 20px;
  }
}

@media (max-width: 450px) {
  section {
    padding: 0 8px;
  }
}
