// colors
$black-200: #2d2d2d;
$black-300: #666666;
$black-400: #999898;
$gray-100: #505050;
$gray-200: #d7d7d7;
$gray-300: #e6e6e6;
$gray-400: #fafafa;
$orange-100: #ff7800;
$orange-300: #ffa039;
$orange-500: #ffb76923;
$white-100: #ffffff;
$red-100: #ff1934;

:root {
  --text: #666666;
  --text-heading: #2d2d2d;
  --bg: #fafafa;
  --bg-secondary: #d7d7d733;
  --bg-orange: #ffb76991;
  --bg-sign-up-in: #ffcf9b19;
}

.dark {
  --text: #e6e6e6;
  --text-heading: #fafafa;
  --bg: #2d2d2d;
  --bg-secondary: #66666633;
  --bg-sign-up-in: #505050;
}

// gradients
$active-gradient-orange: linear-gradient(180deg, #ffb769 17.19%, #ffffff 100%);
$inactive-gradient-orange: linear-gradient(167.91deg, #ffd6c4 -1.62%, #ffffff 104.93%);

// MIXINS
// flexbox
@mixin flex($direction, $position) {
  display: flex;
  justify-content: $position;
  flex-direction: $direction;
}

// shadows
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: $top $left $blur $color, $inset;
    -moz-box-shadow: $top $left $blur $color, $inset;
    box-shadow: $top $left $blur $color, $inset;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

// classes
.inner-section {
  width: 100%;
  max-width: 1800px;
  margin: auto;
  padding: 0;
}

.underline {
  color: $orange-300;
  text-decoration: underline;
  text-decoration-color: $orange-300;

  &:hover {
    color: var(--text-heading);
    text-decoration-color: var(--text-heading);
  }
}

.text-orange {
  color: $orange-300;
}

.error {
  color: $red-100 !important;
}

// sign-up and sign-in layout
.sign-up-in-layout {
  padding-top: 145px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

  .text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    h2 {
      font-weight: 900;
      font-size: 43.95px;
      line-height: 53px;
      color: $orange-100;
    }

    p {
      margin-bottom: 16px;
    }

    form {
      width: 100%;
      max-width: 560px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      gap: 24px;

      .inputs-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;

        input {
          height: 51px;
          width: 100%;
          position: relative;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-left: 17px;
          border: 1px solid $gray-100;
          font-size: 18px;
          line-height: 22px;
          color: $black-200;

          &::placeholder {
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            color: $black-200;
          }
        }
      }

      .checkbox-wrapper {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 6px;

        input[type='checkbox'] {
          -moz-appearance: none;
          -webkit-appearance: none;
          -o-appearance: none;
          flex-shrink: 0;
          width: 22px;
          height: 22px;
          border-radius: 5px;
          border: 2px solid var(--text);
          accent-color: $orange-100;
          opacity: 0.9;
          cursor: pointer;
          position: relative;

          &:checked {
            background-color: $orange-100;
            border: $orange-100;

            &::after {
              position: absolute;
              content: '\2714';
              font-size: 24px;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $gray-400;
            }
          }
        }

        label {
          font-size: 14px;
          line-height: 16px;
          cursor: pointer;
        }
      }

      button {
        width: 198px;
        height: 47px;
        margin-bottom: 10px;
      }
    }

    .bottom-links {
      div {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: start;
        font-size: 18px;
        line-height: 21px;
      }
    }
  }

  .img-container {
    flex: 1;
    text-align: center;

    img {
      width: 100%;
      max-width: 600px;
    }
  }
}

.dark .sign-up-in-layout .img-container img {
  filter: invert(100%);
  filter: contrast(0);
}

@media (max-width: 2200px) {
  .sign-up-in-layout {
    gap: 50px;

    .text-container {
      align-items: start;
    }
  }
}

@media (max-width: 1024px) {
  .sign-up-in-layout {
    padding-top: 100px;
    gap: 50px;

    .text-container {
      gap: 7px;

      h2 {
        font-size: 34.18px;
        line-height: 42px;
      }

      form {
        max-width: 390px;
        gap: 16px;

        .inputs-container {
          gap: 16px;

          input {
            height: 47px;
            font-size: 14px;
            line-height: 17px;

            &::placeholder {
              font-size: 14px;
              line-height: 17px;
            }
          }
        }
      }

      .bottom-links {
        div {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }

    .img-container {
      flex: 1;
    }
  }

  .btn::after {
    height: 40px;
  }
}

@media (max-width: 768px) {
  .sign-up-in-layout {
    padding-top: 80px;

    .text-container {
      form {
        max-width: 500px;
      }
    }

    .img-container {
      display: none;
    }
  }
}

// animation keyframes
@keyframes levitate {
  0%,
  100% {
    transform: translateY(-7%);
  }

  40%,
  80% {
    transform: translateY(-7%);
  }

  20%,
  60% {
    transform: translateY(7%);
  }
}

@keyframes hiding {
  to {
    opacity: 0;
  }
}
