// colors
$black-200: #2d2d2d;
$black-300: #666666;
$gray-200: #d7d7d7;
$gray-300: #e6e6e6;
$gray-400: #fafafa;
$orange-100: #ff7800;
$orange-300: #ffa039;
$orange-500: #ffb769ab;
$white-100: #ffffff;

:root {
  --text: #666666;
  --text-heading: #2d2d2d;
  --bg: #fafafa;
  --bg-secondary: #d7d7d733;
  --bg-orange: #ffb76991;
}

.dark {
  --text: #e6e6e6;
  --text-heading: #fafafa;
  --bg: #2d2d2d;
  --bg-secondary: #66666633;
}

// gradients
$active-gradient-orange: linear-gradient(180deg, #ffb769 17.19%, #ffffff 100%);
$inactive-gradient-orange: linear-gradient(167.91deg, #ffd6c4 -1.62%, #ffffff 104.93%);

// maps
$btn-pxs: (
  '47': 47px,
  '51': 51px,
  '55': 55px,
  '117': 117px,
  '200': 200px,
  '233': 233px,
);

// MIXINS
// flexbox
@mixin flex($direction, $position) {
  display: flex;
  justify-content: $position;
  flex-direction: $direction;
}

// shadows
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: $top $left $blur $color, $inset;
    -moz-box-shadow: $top $left $blur $color, $inset;
    box-shadow: $top $left $blur $color, $inset;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

.btnn {
  @include box-shadow(-2px, 2px, 10px, #ff7800, 'inset');
}
// gradient
@mixin linear-gradient($from, $to) {
  background: $to;
  background: -moz-linear-gradient(top, $from 0%, $to 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to));
  background: -webkit-linear-gradient(top, $from 0%, $to 100%);
  background: -o-linear-gradient(top, $from 0%, $to 100%);
  background: linear-gradient(to bottom, $from 0%, $to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to});
}

// classes
// controll the max width of all sections. For large screens...
.inner-section {
  width: 100%;
  max-width: 1800px;
  margin: auto;
  padding: 0;
}

.link-empty {
  border: 2px solid $orange-100;
  border-radius: 15px;

  &:hover {
    background-color: $orange-100;
    color: var(--bg);
  }
}

.btn {
  border-radius: 15px;
  color: var(--bg);
  background-color: $orange-100;
  box-shadow: inset -2px -2px 10px #ff7800;
  position: relative;

  &::after {
    content: '';
    width: 214px;
    height: 55px;
    position: absolute;
    z-index: -1;
    left: 4.57%;
    right: 3.65%;
    top: 16.13%;
    bottom: 0%;
    background: #913c00;
    opacity: 0.25;
    filter: blur(10px);
    border-radius: 15px;
  }

  &:hover {
    color: var(--bg);

    &::after {
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

.underline {
  color: $orange-300;
  text-decoration: underline;
  text-decoration-color: $orange-300;

  &:hover {
    color: var(--text-heading);
    text-decoration-color: var(--text-heading);
  }
}

.text-orange {
  color: $orange-300;
}

.icon path {
  fill: currentColor;
}

.card-shadow {
  @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24));
}

.hover-card-shadow {
  @include box-shadow(0, 14px, 28px, rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22));
}

@media (max-width: 1024px) {
  .btn::after {
    width: 182px;
    height: 47px;
  }
}

// animation keyframes
@keyframes levitate {
  0%,
  100% {
    transform: translateY(0);
  }

  40%,
  80% {
    transform: translateY(-5%);
  }

  20%,
  60% {
    transform: translateY(5%);
  }
}
