.burger {
  display: none;
  z-index: 50;
}

@media (max-width: 900px) {
  .burger {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    text-align: center;

    div {
      width: 27px;
      height: 4px;
      margin: 4px 0;
      border-radius: 2px;
      transform-origin: center;
      transition: transform 310ms ease-out;
    }

    &:hover div {
      background-color: $orange-300;
    }
  }

  .burger.active {
    .top {
      transform: rotate(45deg) translateY(5px);
    }

    .bottom {
      transform: rotate(-45deg) translateY(-5px);
    }
  }
}
