@import './nav';
@import './burger';

header {
  width: 100%;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  @include box-shadow(0px, 2px, 10px, rgba(45, 45, 45, 0.1));
  background: var(--bg);
}

.dark header {
  @include box-shadow(0px, 1px, 16px, rgba(255, 120, 0, 0.2));
}

.header-container {
  width: 100%;
  height: 145px;
  max-width: 1800px; // po slobodnom nahodjenju sam ogranicio dalji rast u sirini na vecim ekranima
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: auto;

  .logo {
    flex-shrink: 0;
    color: var(--text-heading);

    svg {
      width: 147px;
      height: 39px;
    }

    &:hover {
      filter: brightness(1.5);
    }
  }
}

@media (max-width: 1440px) {
  .header-container {
    height: 97px;
    padding: 0 21px;
  }
}

@media (max-width: 900px) {
  header {
    @include box-shadow(0px, 1px, 16px, rgba(255, 120, 0, 0.2));
  }
  .header-container {
    height: 60px;
    padding: 0 8px;

    .logo {
      svg {
        width: 87px;
        height: 23px;
      }
    }
  }
}
