.hero {
  padding-top: 145px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
  }

  .text-block {
    max-width: 547px;

    .text-wrapper {
      display: flex;
      align-items: start;
      justify-content: start;
      flex-direction: column;
      height: 100%;
    }
  }

  h1 {
    margin-bottom: 16px;
    display: inline-block;

    span {
      display: inline-block;
    }
  }

  .btn-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    margin-top: 31px;

    a {
      width: 233px;
      height: 55px;
    }
  }

  .img-block {
    display: block;
    margin-right: 150px;
    flex: 1;
    max-width: 600px;
    max-height: 600px;
    min-height: 217px;
    min-width: 217px;
    position: relative;
    z-index: -1;

    .qr-code-container {
      position: absolute;
      z-index: 10;
      width: 35%;
      height: 35%;
      top: 7%;
      left: 5%;
      display: inline-block;
      animation: levitate 4s ease 0s infinite normal forwards;

      img {
        display: block;
        position: absolute;
        z-index: 10;

        &[alt='qr-code'] {
          top: 50%;
          left: 50%;
          transform: translate(-52%, -61%);
          width: 54%;
        }
      }
    }
  }
}

.dark #human-scan,
.dark #qr-code-wrapper {
  filter: invert(100%);
}

@media (max-width: 1440px) {
  .hero {
    .container {
      gap: 30px;
    }
    .img-block {
      margin: 0;
    }
  }
}

@media (max-width: 1024px) {
  .hero {
    .container {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    .btn-wrapper {
      margin-top: 24px;

      a {
        width: 198px;
        height: 47px;
      }
    }

    .img-block .qr-code-container img[alt='qr-code'] {
      top: 44%;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    .btn-wrapper {
      flex-wrap: wrap;
      gap: 17px;
    }
  }
}

@media (max-width: 450px) {
  .hero {
    .container {
      align-items: start;

      .img-block {
        align-self: center;
      }
    }

    .btn-wrapper {
      margin-top: 32px;
    }
    padding-top: 102px;
  }
}
