@import '../components/pricing-card';
@import '../components/slider';

.pricing {
  padding-top: 80px;
  padding-bottom: 80px;

  div.btn-wrapper {
    display: flex;
    justify-content: end;
    gap: 32px;

    button {
      width: 200px;
      height: 51px;
    }
  }
}

@mixin light-mode {
  .pricing {
    background: $bg-secondary;
  }
}

@mixin dark-mode {
  .pricing {
    background: $bg-secondary--dark;
  }
}

.dark-mode {
  @include dark-mode;
}

.light-mode {
  @include light-mode;
}

@media (max-width: 1440px) {
  .pricing {
    padding-top: 23px;
    padding-bottom: 43px;

    div.btn-wrapper {
      gap: 22px;
    }
  }
}

@media (max-width: 1024px) {
  .pricing {
    padding-top: 33px;
    padding-bottom: 33px;

    div.btn-wrapper {
      margin-top: 25px;
      gap: 16px;

      button {
        max-width: 144px;
        height: 36px;
      }
    }
  }
}
