@import '../components/pricing-card';
@import '../components/slider';

.pricing {
  background: var(--bg-secondary);
  padding-top: 80px;
  padding-bottom: 80px;

  div.btn-wrapper {
    display: flex;
    justify-content: end;
    gap: 32px;

    button {
      width: 200px;
      height: 51px;
    }
  }
}

@media (max-width: 1440px) {
  .pricing {
    padding-top: 23px;
    padding-bottom: 43px;

    div.btn-wrapper {
      gap: 22px;
    }
  }
}

@media (max-width: 1024px) {
  .pricing {
    padding-top: 33px;
    padding-bottom: 33px;

    div.btn-wrapper {
      margin-top: 25px;
      gap: 16px;

      button {
        max-width: 144px;
        height: 36px;
      }
    }
  }
}

// @media (max-width: 768px) {
//   #pricing-container {
//     gap: 18px;
//     justify-items: center;
//     grid-template-columns: repeat(1, minmax(0, 1fr));
//   }
// }
