@import '../components/card';

.qr-types {
  padding-top: 80px;
  padding-bottom: 80px;
}

#qr-types-container {
  margin-top: 35px;
  width: 100%;
  justify-items: stretch;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 32px;
}

@media (max-width: 1440px) {
  .qr-types {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  #qr-types-container {
    margin-top: 30px;
    gap: 24px;
  }
}

@media (max-width: 1024px) {
  .qr-types {
    padding-top: 33px;
    padding-bottom: 33px;
  }

  #qr-types-container {
    margin-top: 49px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  #qr-types-container {
    gap: 18px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 450px) {
  #qr-types-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
